* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header{
    width: 100%;
    height: 50px;
    background-color: #FF9A4B;
}
.item{
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 50px auto 50px ;
}
.center-box{
    margin: 0 30px;
}
.article{
    width: 300px;
    background-color: #EEEEEE;
}
.center-article{
    margin: 0 30px;
}
span{
    position: absolute;
    color: white;
    background-color: #FF9A4B;
    padding: 3px;
}
.step-box{
    margin: 10px;
}
.step-box h3{
    margin: 15px 0 5px 0;
}
.step{
    width: 280px;
    height: 150px;
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: bottom;
}
.step2{
    background-image: url(img/flow02.png);
}
.step3{
    background-image: url(img/flow03.png);
}
footer{
    background-color: #AAAAAA;
    width: 100%;
    height: 50px;
}